In [8]:
# import
from pandas_datareader import data
import datetime as dt

In [16]:
start = dt.date(2021, 1, 1)
end = dt.date(2021, 12, 30)
data.DataReader("JTSJOL", data_source="fred", start=start, end=end)

# データ取得先:https://note.com/cograph_data/n/nef146576ca40

            JTSJOL
DATE
2021-01-01    7175
2021-02-01    7760
2021-03-01    8399
2021-04-01    9288
2021-05-01    9840
2021-06-01   10069
2021-07-01   10882
2021-08-01   10960
2021-09-01   10882
2021-10-01   11368
2021-11-01   11232
2021-12-01   11826